[submodule "base"]
	path = base
	url = https://github.com/santiweight/poker
[submodule "game"]
	path = game
	url = https://github.com/santiweight/poker-game
[submodule "example-handhistories"]
	path = example-handhistories
	url = https://github.com/santiweight/example-handhistories
[submodule "xploit-query"]
	path = xploit-query
	url = https://github.com/santiweight/exploit-haskell
[submodule "xploit-app"]
	path = xploit-app
	url = https://github.com/santiweight/xploit
[submodule "poker-histories"]
	path = poker-histories
	url = ./poker-histories
