[submodule "base"]
	path = base
	url = ./base/.git
[submodule "game"]
	path = game
	url = ./game/.git
[submodule "history-bovada"]
	path = history-bovada
	url = ./history-bovada/.git
[submodule "history-pokerstars"]
	path = history-pokerstars
	url = ./history-pokerstars/.git
[submodule "maison"]
	path = maison
	url = ./maison/.git
[submodule "example-handhistories"]
	path = example-handhistories
	url = ./example-handhistories/.git
